.header {
  background-color: #101830;
  padding: 0 24px;
  border-bottom: 1px solid #6FFFE9;
  height: 64px;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #F5F5F5;
}